<head>
  {% block head %}
  {% endblock %}
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Django Delights</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menulist' %}">Menu</a></li>
                <li><a href="{% url 'recipelist' %}">Recipe</a></li>
                <li><a href="{% url 'ingredientlist' %}">Inventory</a></li>
                <li><a href="{% url 'purchaselist' %}">Purchase Log</a></li>
                
            </ul>
    </nav>
    </div>
    </header>
    
    
  {% block content %}
  {% endblock %}
</body>
