{% extends "./base.html" %} {% load static %} {% block title %}Django Djitney{% endblock %} {% block content %}
<h2>Sales:</h2>
<table id="purchases">
  <tr>
    <th>Item</th>
    <th>Timestamp</th>
      <th> </th>
      <th> </th>
  </tr>
	<tr>
  {% for purchase in purchases %}
  </tr>
  <tr>
    <td>{{ purchase.purchased_item }}</td>
    <td>{{ purchase.timestamp }}</td>
    
    <td><a href="{% url 'purchaseupdate' purchase.id %}">Edit</a></td>
    <td><a href="{% url 'purchasedelete' purchase.id %}">Delete</a></td>
    
  </tr>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<h2>Current Menu:</h2>
<table id="menu">
  <tr>
    <th>Name</th>
    <th>Price</th>
      <th> </th>
      <th> </th>
  </tr>
	<tr>
  {% for item in menu %}
  </tr>
  <tr>
    <td>{{ item.menu_item_name }}</td>
    <td>{{ item.item_price }}</td>

    <td><a href="{% url 'menuupdate' item.id %}">Edit</a></td>
    <td><a href="{% url 'menudelete' item.id %}">Delete</a></td>
    
  </tr>
              {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
