{% extends "./base.html" %} 

{% load static %} 
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="container body-container">
    <h2>Welcome, {{ user.username }}! Current Menu Offerings:</h2>
    {% if menu %}
    <table id ="menu-table">
        <tr class="table-heading">
            <th>Name</th>
            <th>Price</th>
            <th> </th>
            <th> </th>
        </tr>
            {% for item in menu %}
            <tr>
                <td>{{ item.menu_item_name }}</td>
                <td>${{ item.item_price }}</td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
            <p>There are no items in the menu.</p>
        {% endif %}
</div>
{% endblock %}