{% extends "./base.html" %}

{% block content %}
<h2>Purchase List</h2>
<table id="purchase">
  <tr>
    <th>Purchased Item</th>
    <th>Timestamp</th>
      <th> </th>
      <th> </th>
  </tr>
	<tr>
  {% for item in purchase_list %}
  </tr>
  <tr>
    <td>{{ item.purchased_item }}</td>
    <td>{{ item.timestamp }}</td>

    <td><a href="{% url 'purchaseupdate' item.id %}">Edit</a></td>
    <td><a href="{% url 'purchasedelete' item.id %}">Delete</a></td>
    
  </tr>
  {% endfor %}
</table>
{% endblock %}
