{% extends "./base.html" %}

{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="container body-container">
    <h2>Recipe</h2>
    {% if reciperequirements_list %}
    <ol class="recipe-list">
        {% for recipe in reciperequirements_list %}
            <li><a href="{% url 'recipedetail' recipe.id %}">{{ recipe.menu_item_id }}</a></li>
        {% endfor %}
    </ol>
    {% else %}
            <p>There are no items in the menu.</p>
        {% endif %}
</div>
{% endblock %}