{% extends './base.html' %}
{% load static %} 
{% block head %}
{% endblock %}
{% block content %}
<div class="container body-container">
    <p>Welcome!</p>
    <h2>Business overview</h2>
    <table class="overview-tbl">
        <tr>
            <td>
                Total Costs:
            </td>
            <td>
                ${{costs}}
            </td>
        </tr>
        <tr>
            <td>
                Total Income:
            </td>
            <td>
                ${{income}}
            </td>
        </tr>
        <tr>
            <td>
                Net profit:
            </td>
            <td>
                ${{profit}}
            </td>
        </tr>
    </table>
    </div>
    {% endblock %}